body, html {
    margin: 0;
    padding: 0;
    background-color: #171717; /* Dark background */
    color: white; /* Light text */
    font-family: 'Arial', sans-serif;
}

.contact-container {
    display: flex;
    flex-direction: row; /* Set to row to align cards horizontally */
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 20px; /* Adds space between the cards */
}

.menu3.card {
    background-color: rgba(0, 0, 0, 0.6);
    border: 6px solid #FFF; /* Wider border */
    margin-bottom: 20px;
    padding: 20px;
    width: 20%; /* Adjust the width as per your need */
    border-radius: 10px;
    transition: 0.3s;
    box-sizing: border-box; /* Includes padding and border in the width */
}

.menu3.card:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Lighter on hover */
}

.title {
    color: #FFD700; /* Highlight color for titles */
    font-size: 24px;
    text-align: center;
}

.skill-img {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.h2 {
    height: 100px;
}

.back {
    margin-left: 20px;
    margin-top: 40px;
    transition: 0.3s;
}

.text, .text-back {
    font-size: 16px;
    color: rgb(163, 163, 163); /* Light gray for text */
    transition: 0.3s;
}

.text-back:hover, .menu3.card:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.project-text {
    text-align: center;
    font-size: 32px;
    font-family: monospace;
    letter-spacing: 5px;
    animation: colorRotate 6s linear 0s infinite;
}

@keyframes colorRotate {
    0%, 100% { color: #FFD700; }
    25% { color: #0099FF; }
    50% { color: #00FF00; }
    75% { color: #FF3399; }
}

.lime {
    color: #FFD700; /* Reusing the yellow color for emphasis */
}

a {
    text-decoration: none;
}
