body {
    margin: 0;
    padding: 0;
    background-color: #171717;
    color: white;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
}

.project-text {
    color: #fff;
    width: 100%;
    text-align: center;
    font-size: 32px;
    margin: 40px 0;
}

.menu2 {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    max-width: 300px;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease-in-out;
}

.menu2:hover {
    transform: scale(1.05);
}

.title, .text {
    color: #fff;
    text-align: center;
}

.title {
    font-size: 20px;
    margin-bottom: 10px;
}

.text {
    font-size: 16px;
    max-width: 80%; /* Improved text container width */
    margin: 0 auto; /* Centering text blocks */
    padding: 10px;
    color: rgb(163, 163, 163);
}
.text-back:hover{
  transform: scale(1.1);
  transition: 0.3s;
}
.back a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.back{
    margin-left: 20px;
    margin-top: 40px;
    transition: 0.3s;
}

/* Media Queries for Responsive Adjustments */
@media (min-width: 600px) {
    .main {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}
.lime {
    text-align: center;
    text-decoration: underline;
    font-size: 32px;
    font-family: monospace;
    letter-spacing: 5px;
    animation: colorRotate 6s linear 0s infinite;
  }
  
  @keyframes colorRotate {
    0%, 100% { color: #6666ff; }
    25% { color: #0099ff; }
    50% { color: #00ff00; }
    75% { color: #ff3399; }
  }
.all{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Dynamic column adjustment */
    gap: 90px; /* Space between cards */
    padding: 20px; /* Padding around the grid */
    margin: auto;
    max-width: 1200px; /* Maximum container width */
}